<table id="song_table">
    <thead>
        <th> Title </th>
        <th> Artist </th>
        <th> Album </th>
    </thead>
    <tbody id="song_table_body">
        <!--<%- @songs.each do |song| %>
        <tr class="song_row">
            <td> <%= song.title %> </td>
            <td> <%= song.artist %> </td>
            <td> <%= song.album %> </td>
        </tr> 
        <% end %> -->

        <!-- Fill in this table with javascript -->
    </tbody>
</table>